<template>
  <div class="hello">
<div class="holder">
<ul>
<li v-for="(data, index) in skills" :key='index'>{{ data.skill }}</li>
</ul>
<p>These are the skills you are working with !</p>


<div v-bind:class="{alert: showAlert}"></div>
</div>
  </div>
</template>

<script>
export default {
  name: 'Skills',
  data(){
    return{
    skills: [
      {"skill": "Vue js"},
      {"skill": "Frontend"},
      {"skill": "backend"},
      {"skill": "Wordpress"},
      {"skill": "Manager"},
      {"skill": "Bootstrap"},
      {"skill": "React"}

    ],
    showAlert: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; 
  .holder {
    background: #fff;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    border-left: 5px solid green;
    margin-bottom: 2px;
    color: #3E5252;
  }
  ul li:hover{
    background: #e1e1e1;
  }
  p {
    text-align:center;
    padding: 30px 0;
    color: gray;
  }
  /* .container {
    box-shadow: 0px 0px 40px lightgray;
  }
  input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }
  .alert {
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
  }
  .alert-in-enter-active {
    animation: bounce-in .5s;
  }
  .alert-in-leave-active {
    animation: bounce-in .5s reverse;
  }
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
i {
  float:right;
  cursor:pointer;
}
*/
</style>


